<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login-style.css">
    <title>Admin Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

        function deleteProduct(productId){
            $.ajax({
                url: "/admin-page/delete/"+productId,
                type: "delete"
            }).done(function(response)
            {
                 $.ajax({
                         url: "/admin"
                  });
                    location.reload();
            });

        }

    </script>
</head>
<body>

<div class="log-form">

</form>
</div>
    </form>

    <table>
        <div class="container" style="max-width: 960px;">


            <form action="admin-page" style="display: none">
                <div class="form-group">
                    <label style="color:white" for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label style="color:white" for="price">Price</label>
                    <input name="price" type="text" class="form-control" id="price">
                </div>
                <div class="form-group">
                    <label style="color:white" for="description">Description</label>
                    <input name="description" type="text" class="form-control" id="description">
                </div>

                <div class="form-group">
                    <label style="color:white" for="image">ImageURL</label>
                    <input name="image" type="text" class="form-control" id="image">
                </div>

                <button type="submit" class="btn">Add</button>
                <a href="/shop" style="color:white" type="button" class="btn">Shop</a>
            </form>

            <table class="table table-bordered">

            <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product:${listaProduse}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.image}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td> <button type="submit" th:id="${product.id}" class="btn btn-outline-danger" onclick="deleteProduct(this.id);" >
                Stergere
            </button></td>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>

</body>
</html>