<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login-style.css">
    <title>Admin Page</title>
</head>
<body>

<div class="log-form">

    <form action="admin-page">
        <a>Adauagati produsele!</a>
    Nume<input name="name" type="text">
    Pret<input name="price" type="text">
    Descriere<input name="description" type="text">
    Image<input name="image" type="text">

    <button type="submit" class="btn"> Pune la vanzare</button>
        <a href="/shoes"><button type="button" class="btn">Vezi</button></a>


</form>
</div>

</body>
</html>

</body>
</html>