<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login-style.css">
</head>
<body>

<form action="cart">
<table class="table table-bordered">
    <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Description</th>
        <th>Qty</th>
        <th>Price</th>
    </tr>
    <tr th:each="product:${shoppingCart}">
        <td th:src="${product.image}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td >
            <div class="col col-qty layout-inline">
                <a href="#" class="qty qty-minus">-</a>
                <input type="numeric" value="3" />
                <a href="#" class="qty qty-plus">+</a>
            </div>
        </td>
        <td th:text="${product.price}"></td>
    </tr>
</table>
</form>
</body>
</html>