<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>Shopping Cart</title>
	   <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
    </head>
   <body class="main-layout">
	<form action="dashboard">
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo"><a href="/dashboard"><img src="images/Produce-Delivery-LA.png"></a></div>
				</div>
				<div class="col-sm-9">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav" th:each="userFound:${userName}">
                           <a class="nav-item nav-link" href="/dashboard">Home</a>
                           <a class="nav-item nav-link" href="/shop">Shop</a>
							<a class="nav-item nav-link" href="/cart" th:text="${userFound.lastName}"></a>
                           <a class="nav-item nav-link " href="/cart"><img src="images/shop_icon.png"></a>
							<a class="nav-item nav-link" href="/login-page">Log-out</a>
                        </div>
                    </div>
                    </nav>
				</div>
			</div>
		</div>
	</div>
		<div class="banner_section">
			<div class="container-fluid">
				<section class="slide-wrapper">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
					<div class="col-sm-2 padding_0">
					</div>
					<div class="col-sm-5">
						<div class="banner_taital">
							<h1 class="banner_text">eCommerce Demo Application </h1>
							<a href="shoes"> <button class="more_bt">See More</button></a>
						</div>
					</div>

					<div class="col-sm-5">
						<div class="shoes_img"><img src="images/—Pngtree—fresh food apple_5725162.png"></div>
					</div>
				</div>
                </div>
					</div>
</section>
			</div>
		</div>
	</div>
   	</form>

   </body>
</html>